img {
	max-width: 100%;
}

html, body {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
}

.limitador {
	max-width: 1200px;
	margin: 0px auto;

	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
}

.rodape {
	text-align: center;
	background-color: black;
	padding: 2rem;
}

.link-rodape, .link-rodape:hover {
	color: white;
	text-decoration: none;
}

/*NAVBAR*/
.separa{	
	font-size: 20px;	margin: auto 20px;
}
.dropdown-menu{
	background-color: #ECECEC;
}
.dropdown-item:hover{
	background-color: #c6c6c6;
}
/* botao */
.bota{	
	margin: 5px;	font-size: 15px;	transition-duration: 0.3s;
}
.bota.ajuda{	
	color: white;	background-color: #109c54;
}
.bota.ajuda:hover{
	background-color: #026532; 
}