
img {
	max-width: 100%;
	}
	
	html, body {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	}
	
	.limitador {
	max-width: 1920px;
	margin: 0px auto;
	
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	}
	
	.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
	}
	
	.rodape {
	text-align: center;
	background-color: black;
	padding: 2rem;
	}
	
	.link-rodape, .link-rodape:hover {
	color: white;
	text-decoration: none;
	}
	
	/*          PALETA DE CORES PROJETO
		
		Verde == #8BC34A
		Azul Claro == #64b5f6
		Azul EScuro == #2196F3
		Branco == ECECEC
		Cinza == C6C6C6
	*/
	
	
	
	/*NAVBAR*/
	.separa{
	font-size: 120%;
	margin: auto 20px;
	}
	
	.dropdown-menu{
	background-color: #ECECEC;
	
	}
	.dropdown-item:hover{
	background-color: #c6c6c6;
	}
	
	/* botao */
	.bota{
	color: black;
	margin: 5px;
	font-size: 100%;
	transition-duration: 0.3s;
	align-self: center;
	border: none;
	background-color: whitesmoke;
	padding: 10px;
	}

	.bota:hover{
	border: none;
	padding: 12px;
	background-color: #5aa621;
	}

	
	/* CARROSSEL */
	.novidades{
	padding: 20px 10px 3px;
	text-align: start;
	font-size: 200%;
	}
	.destaques{
	max-height: 80%;
	}
	
	
	
	
	
	/* IMAGENS */
	.masked{
	margin: 0px auto;
	
	}
	.fundo{
	padding: auto 60px;
	}
	
	.fundo.azul{

	background-color: #EFD39F;
	}
	.fundo.verde{
	background-color: #39aeed;
	}
	
	.logo{
	margin: 10px;
	max-width: 50px;
	}
	
	.transicao{
	width: 100%;
	height: 100px;
	}

	div.coral-limite{
		max-width: 80%;
		margin-right: 40px;
		margin-left: 40px;
	}
	div.coral-peace{
		background-color: #386641;
		padding-left: 20px;
	}
	div.wwf{
		background-color: #b73501;
		padding-left: 20px;
	}
	img.coral-peace{
		margin-left: -30px;
		margin-bottom: -30px;
		max-width: 100%;
	}
	img.wwf{
		margin-right: -30px;
		margin-bottom: -30px;
		max-width: 100%;
	}
	
	/* formatacao geral */
	header{
	padding: 0px;
	}
	a{
		text-decoration: none;
	}
	
	button.peace{
		background-color: #56a13a;
		margin-left: 20px;
		margin-bottom: 20px;
		border-color: #386641;
		border-radius: 10px;
		padding: 10px;
	}
	button.peace:hover{
		background-color: #3b7028;
	}
	button.wwf{
		background-color: #b73501;
		margin-left: 20px;
		margin-bottom: 20px;
		border-color: #e74503;
		border-radius: 10px;
		padding: 10px;
	}
	button.wwf:hover{
		background-color: #e14000;
	}

	h1.peace{
		color:#56a13a;
		background-color: #ECECEC;
		border-radius: 22px;
		max-height: 10%;
		max-width: 40%;
		margin-left: 3%;
		padding-top: 5px;
	}
	h1.wwf{
		color:black;
		background-color: #ECECEC;
		border-radius: 22px;
		max-height: 10%;
		max-width: 40%;
		margin-left: 3%;
		padding-top: 5px;
	}

	.input-busca{
		min-width: 70%;
		border-color: #255593;
		border-style: solid;
	}
	button.busca{
		border: none;
		background-color: #ECECEC;
		border-radius: 3px;
	}
	.bordado{
		border-radius: 40px;
		background-color: #298edd;
		text-align: center;
		min-height: fit-content;
		padding-top: 20px;
		margin-top: 10px;
	}
	.titulo{
		font-weight: bold;
		margin-top: 10px;
		text-align: center;
		padding: 0px;
	}
	.git{
		background-color: rgb(160, 3, 160);
		border-radius: 10px;
		border: none;
		min-width: 30px;
		min-height: 30px;
		margin-bottom: 10px;
	}
	.git:hover{
		background-color: rgb(205, 7, 205);
	}
	.lk{
		background-color: rgb(42, 42, 251);
		border-radius: 10px;
		border: none;
		min-width: 30px;
		min-height: 30px;
		margin-bottom: 10px;
	}
	.lk:hover{
		background-color: rgb(0, 81, 255);
	}

	hr{
	border: none;
	height: 2px;
	margin: 0px;
	opacity: 100%;
	background-color: #383838;
	}
	

	p.paragrafo{
	padding-bottom: 70px;
	
	}
	.branco{
		color: #ECECEC;
	}
	.preto{
		color: black;
	}
	input{
		margin: 5px;
		border-radius: 5px;
	}
	a{
		color: #ECECEC;
	}
	/* titulo da pagina */
	.icon{
	height: 100px;
	}
	.fundo-sobre{
		background-color: #255593;
		margin-top: 20px;
		padding: 5px 5px;
	}
	

	.container{
		margin-top:50px;
		margin-bottom:50px;
		background-color: #DAD7CD;
		border-radius: 30px;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
		position: relative;
		overflow: hidden;
		width: 768px;
		max-width: 100%;
		min-height: 480px;
	}
	
	.container p{
		font-size: 100%;
		line-height: 20px;
		letter-spacing: 0.3px;
		margin: 20px 0;
	}
	
	.container span{
		font-size: 100%;
	}
	
	.container a{
		color: #333;
		font-size: 100%;
		text-decoration: none;
		margin: 15px 0 10px;
	}
	
	.container button{
		background-color: whitesmoke;
		color: black;
		font-size: 100%;
		padding: 10px 45px;
		border: 1px solid transparent;
		border-radius: 8px;
		font-weight: 600;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		margin-top: 10px;
		cursor: pointer;
	}
	.container button:hover{
		background-color:#5aa621;
		color: whitesmoke;
		padding: 10px 50px;

	}
	
	.container button.hidden{
		background-color: transparent;
		border-color: #DAD7CD;
	}
	
	.container form{
		background-color: #DAD7CD;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 40px;
		height: 100%;
	}
	
	.container input{
		background-color: #eee;
		border: 2px, solid,#356bb2;
		margin: 8px 0;
		padding: 10px 15px;
		font-size: 80%;
		border-radius: 8px;
		width: 100%;
	}
	
	.form-container{
		position: absolute;
		top: 0;
		height: 100%;
		transition: all 0.6s ease-in-out;
	}
	
	.sign-in{
		left: 0;
		width: 50%;
		z-index: 2;
	}
	
	.container.active .sign-in{
		transform: translateX(100%);
	}
	
	.sign-up{
		left: 0;
		width: 50%;
		opacity: 0;
		z-index: 1;
	}
	
	.container.active .sign-up{
		transform: translateX(100%);
		opacity: 1;
		z-index: 5;
		animation: move 0.6s;
	}
	
	@keyframes move{
		0%, 49.99%{
			opacity: 0;
			z-index: 1;
		}
		50%, 100%{
			opacity: 1;
			z-index: 5;
		}
	}
	
	.toggle-container{
		position: absolute;
		top: 0;
		left: 50%;
		width: 50%;
		height: 100%;
		overflow: hidden;
		transition: all 0.6s ease-in-out;
		border-radius: 150px 0 0 100px;
		z-index: 1000;
	}
	
	.container.active .toggle-container{
		transform: translateX(-100%);
		border-radius: 0 150px 100px 0;
	}
	
	.toggle{
		background-color: #356bb2;
		height: 100%;
		background: linear-gradient(to right, #356bb2, #356bb2);
		color: #ECECEC;
		height: 100%;
		color: #DAD7CD;
		position: relative;
		left: -100%;
		height: 100%;
		width: 200%;
		transform: translateX(0);
		transition: all 0.6s ease-in-out;
	}
	
	.container.active .toggle{
		transform: translateX(50%);
	}
	
	.toggle-panel{
		position: absolute;
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 30px;
		text-align: center;
		top: 0;
		transform: translateX(0);
		transition: all 0.6s ease-in-out;
	}
	
	.toggle-left{
		transform: translateX(-200%);
	}
	
	.container.active .toggle-left{
		transform: translateX(0);
	}
	
	.toggle-right{
		right: 0;
		transform: translateX(0);
	}
	
	.container.active .toggle-right{
		transform: translateX(200%);
	}


h1{
padding-top: 30px;
padding-left: 20px;
text-align: start;
}
p{
color: black;
padding-left: 20px;
text-align: start;
}
p.paragrafo{
padding-bottom: 70px;

}

body{
margin: 0px;
background-color: #EFD39F;
color: black;
font-family: 'montserrat';
max-width: 1920px;
}
/* titulo da pagina */
.icon{
height: 100px;
}
.center{
	text-align: center;
	padding: 0px;
}
.redondo{
	border-radius: 100%;
}
.imagem-sobre{
	max-width: 80%;
	
}
.arruma-imagem{
	margin-top: 15px;
	margin-bottom: 15px;
}
.arruma-p{
	margin-top: 15px;
	margin-bottom: 30px;
}
.text-color{
	color: white;
}
.text-3d{
	filter:drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
}
.text-4d{
	filter:drop-shadow(3px 3px 5px rgba(0,0,0,0.5));
}


.carrossel{
	background-repeat: no-repeat;
	background-position: 30%;
	height: 490px;
	display: block;
	background-image: url(https://clickpetroleoegas.com.br/wp-content/uploads/2022/06/Primeira-usina-de-energia-eolica-da-regiao-Norte-do-RS-vai-abastecer-cerca-de-40-mil-residencias.jpg);
}

p.carrossel{
	text-align: end;
	color: #386641;
	size: 10%;
}
button.carrossel{
	padding: 10px;
	color: #ececec;
	background-color: #BC4749;
	font-size: 10px;
}
button.carrossel:hover{
	padding: 12px;
	color: #ececec;
	background-color: #AC2729;
	font-size: 10px;
}
.estados{
	z-index: 0;
}
.estados:hover{
	z-index: 100;
	filter:drop-shadow(3px 3px 5px rgba(240, 240, 240, 0.5));
}