<div class="transicao">
	<svg
		width="100%"
		height="100%"
		viewBox="0 0 323.52756 204.01889"
		version="1.1"
		id="svg5"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg"
		preserveAspectRatio="none">
		<defs
		  id="defs2" />
		<g
		  id="layer1">
		  <rect
			style="fill:#39aeed;fill-opacity:1;stroke-width:1.05"
			id="rect2721"
			width="323.52756"
			height="204.01889"
			x="0"
			y="0" />
		  <path
			id="rect451"
			style="fill:#356bb2;stroke-width:1.05;fill-opacity:1"
			d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
	  </g>
</svg>
</div>
<div class="fundo verde">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
                <div>   
				    <h1 class="peace">
				    	Green Peace
				    </h1>
                </div>

				<p class="">
					O Greenpeace é uma organização ambiental global fundada em 1971, com o objetivo de promover a preservação do meio ambiente e combater práticas que causem danos ao planeta. Conhecida por suas campanhas diretas e pacíficas, a ONG atua em questões como mudanças climáticas, proteção dos oceanos, preservação das florestas, combate à poluição e defesa da biodiversidade. Com sede na Holanda e escritórios em mais de 50 países, o Greenpeace busca influenciar políticas públicas, pressionar grandes corporações e conscientizar a sociedade sobre a importância da sustentabilidade ambiental.
				</p>
                <a href="https://doe.greenpeace.org.br/?cc=701Pm00000DisbVIAR&entrypoint=botao_menu&gp_anonymous_id=7aa65ca1-6557-41c0-b532-5dcf8d4f050b"><button class="peace branco text-3d">Ajude Aqui!</button></a>
			</div>
			<div class="col-md-6">
                <div class="coral-limite">
                    <div class="coral-peace">
				        <img class="imagem-sobre arruma-imagem coral-peace" src="https://www.greenpeace.org/static/planet4-brasil-stateless/2018/07/GP0STRUY6_PressMedia.jpg" alt="🌬">
			        </div>
                    <div>.</div>
                </div>
            </div>
		</div>
	</div>
</div>

<div class="transicao">
	<svg
		width="100%"
		height="100%"
		viewBox="0 0 323.52756 204.01889"
		version="1.1"
		id="svg5"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg"
		preserveAspectRatio="none">
		<defs
		  id="defs2" />
		<g
		  id="layer1">
		  <rect
			style="fill: #EFD39F;fill-opacity:1;stroke-width:1.05"
			id="rect2721"
			width="323.52756"
			height="204.01889"
			x="0"
			y="0" />
		  <path
			id="rect451"
			style="fill:#39aeed;stroke-width:1.05;fill-opacity:1"
			d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
	  </g>
</svg>
</div>

<div class="fundo azul">
	<div class="container-fluid">
		<div class="row">
            <div class="col-sm-6">
				<div class="coral-limite">
                    <div class="wwf">
				        <img class="imagem-sobre arruma-imagem wwf" src="https://www.fragaengenharia.com.br/wp-content/uploads/2015/09/wwf.jpeg" alt="🌬">
			        </div>
                    <div>.</div>
                </div>
			</div>
			<div class="col-sm-6">
				<div>   
				    <h1 class="">
				    	WWF Brasil
				    </h1>
                

				<p style="padding-right: 60px;" class="preto">
					A WWF-Brasil (World Wide Fund for Nature) é uma organização não governamental dedicada à conservação ambiental e ao uso sustentável dos recursos naturais no Brasil. Fundada em 1996, a WWF-Brasil faz parte da rede global WWF e atua em temas como a proteção da biodiversidade, combate ao desmatamento, preservação de ecossistemas e promoção de práticas de desenvolvimento sustentável. A organização trabalha em parceria com comunidades locais, empresas e governos para desenvolver projetos que promovam a conservação da Amazônia, do Pantanal, do Cerrado e de outros biomas brasileiros, buscando assegurar um futuro mais equilibrado e saudável para as gerações futuras.
				</p>
                <a href="https://doe.wwf.org.br/ficha/restaurar?"><button class="wwf branco text-3d">Ajude Aqui!</button></a>
                </div>
            </div>
		</div>
	</div>
</div>
<div class="transicao">
    <svg
      width="100%"
      height="100%"
      viewBox="0 0 323.52756 204.01889"
      version="1.1"
      id="svg5"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg"
      preserveAspectRatio="none">
      <defs
        id="defs2" />
      <g
        id="layer1">
        <rect
        style="fill:black;fill-opacity:1;stroke-width:1.05"
        id="rect2721"
        width="323.52756"
        height="204.01889"
        x="0"
        y="0" />
        <path
        id="rect451"
        style="fill:#EFD39F	;stroke-width:1.05;fill-opacity:1"
        d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
      </g>
  </svg>
  </div>