<style>
    p{
        margin-top: 10px; 
    }
</style>

<div class="transicao">
	<svg
		width="100%"
		height="100%"
		viewBox="0 0 323.52756 204.01889"
		version="1.1"
		id="svg5"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg"
		preserveAspectRatio="none">
		<defs
		  id="defs2" />
		<g
		  id="layer1">
		  <rect
			style="fill:#39aeed;fill-opacity:1;stroke-width:1.05"
			id="rect2721"
			width="323.52756"
			height="204.01889"
			x="0"
			y="0" />
		  <path
			id="rect451"
			style="fill:#356bb2;stroke-width:1.05;fill-opacity:1"
			d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
	  </g>
</svg>
</div>
<div class="container-fluid fundo verde">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 style="margin-bottom: 30px;">
                Brasil e a COP 30: Um Compromisso Global com a Sustentabilidade
            </h1>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="container-fluid fundo verde">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                <img src="https://www.cnnbrasil.com.br/wp-content/uploads/sites/12/2023/12/amazonia-serie-exploracao-petroleo-amapa.jpeg?w=1220&h=674&crop=1&quality=85" alt="">
                </div>
                <div class="col-md-1"></div>
            </div>
            <p>
                O Brasil é internacionalmente reconhecido pela importância dos seus ecossistemas. 
                De acordo com o Sistema Nacional de Informações Florestais, 58% do nosso território 
                é coberto por florestas, sendo cerca de 49% pela Amazônia. Os números são relevantes. 
                Considerada o pulmão do mundo, a Floresta Amazônica equivale a 1/3 das florestas 
                tropicais de todo o planeta. Além de ser responsável por uma boa parte da absorção 
                de carbono global, mitigando as emissões de gases de efeito estufa, a 
                Amazônia destaca-se por ter o maior banco genético do mundo. Não bastasse, 
                seus rios caudalosos respondem por quase 1/5 da água doce que deságua nos oceanos. 
                Sem falar na água que é liberada na atmosfera por meio da evapotranspiração das 
                plantas, e que regula o clima num entorno inimaginavelmente vasto, que chega a atingir 
                até países mais distantes, como a Argentina e Uruguai. 
            </p>
            <p>
                Além da Amazônia, o Brasil concentra em seu território outros diversos ecossistemas de 
                importância vital. A Mata Atlântica, mesmo tendo sido muito reduzida ao longo dos anos, 
                ainda abriga uma quantidade significativa de espécies endêmicas e possui um papel crucial 
                na proteção dos rios e mares da região. O Pantanal é conhecido por sua biodiversidade e por 
                seus recursos hídricos. O Cerrado, por sua vez, é origem de importantes bacias hidrográficas, 
                o que o torna fundamental também para a agricultura sustentável. O Pampa abriga uma vasta gama 
                de espécies vegetais e animais, muitas das quais endêmicas. E Caatinga igualmente é rica em 
                espécies de plantas, insetos, aves e mamíferos, o que a torna essencial para proteger a 
                diversidade genética e alimentar, além de sustentar a vida local. 
            </p>
            <p>
                A responsabilidade que o Brasil carrega na regulação do clima global, portanto, 
                não é pequena. Como a comunidade internacional vem observando, o futuro do planeta 
                depende da preservação dos biomas brasileiros. Por isso, o Brasil vem cada vez mais 
                se destacando por sua capacidade de influenciar decisões globais sobre meio ambiente 
                e desenvolvimento sustentável.  
            </p>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                <img src="https://crapa.org.br/wp-content/uploads/2023/05/1280x720-COP25.jpg" alt="">
                </div>
                <div class="col-md-1"></div>
            </div>
            <p>
                Acentuando o protagonismo brasileiro nas questões ambientais, o país prepara para 
                sediar a 30ª Conferência das Partes (COP 30) da Convenção-Quadro das Nações Unidas 
                sobre Mudança do Clima, no Estado do Pará, programada para ocorrer 
                entre os dias 14 e 26 de novembro de 2025. No passado, o país já sediou 
                conferências climáticas relevantes, como a Rio-92 e a Rio+20. Mas a COP 30 é uma 
                oportunidade significativa para discutir questões cruciais para o funcionamento da 
                nossa sociedade e da nossa economia nos próximos anos. 
            </p>
            <p>
                As COP são eventos programados na Convenção da ONU, onde as delegações dos países 
                se reúnem para discutir e negociar ações e compromissos relacionados às mudanças 
                climáticas. Nessa semana, a COP 29 está acontecendo na cidade de Baku, no Azerbaijão. 
                A agenda envolve a apresentação e revisão de relatórios de aconselhamento científicos 
                e tecnológico, bem como de implementação das medidas discutidas previamente. Envolve 
                também discussões sobre mecanismos para evitar, minimizar e abordar perdas e danos 
                associados aos efeitos adversos das mudanças climáticas, incluindo mecanismos 
                financeiros, como o Fundo Verde par ao Clima, o Fundo Global para o Meio Ambiente e 
                outros mecanismos de financiamento climático de longo prazo. Também se discutem 
                mecanismos relacionados ao desenvolvimento e transferência de tecnologia e à 
                capacitação de comunidades, sobretudo em países menos desenvolvidos.
            </p>
            <p>
                As COPs são, em síntese, momentos cruciais para os países revisem o progresso 
                realizado até o momento em relação aos compromissos climáticos. A COP 30, em Belém do 
                Pará, que se aproxima, oferece uma plataforma significativa para o Brasil e outros 
                países darem continuidade ao diálogo e à implementação de ações concretas serão 
                fundamentais para enfrentar este dos maiores desafios globais do nosso tempo. 
                A responsabilidade de sediar um evento dessa magnitude confere ao país um papel 
                fundamental nas discussões multilaterais, e suas implicações vão muito além das 
                negociações que ocorrerão em um espaço físico. Com a realização da COP 30, o Brasil 
                tem a oportunidade de reafirmar seu compromisso com a sustentabilidade e com os 
                Objetivos de Desenvolvimento Sustentável (ODS) da ONU. Participações ativas em cúpulas 
                internacionais não apenas fortalecem a visibilidade do país, mas também fomentam 
                colaborações essenciais entre nações, pois os desafios climáticos são, por natureza, 
                um fenômeno que transcende fronteiras.
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<div class="transicao">
    <svg
      width="100%"
      height="100%"
      viewBox="0 0 323.52756 204.01889"
      version="1.1"
      id="svg5"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg"
      preserveAspectRatio="none">
      <defs
        id="defs2" />
      <g
        id="layer1">
        <rect
        style="fill:black;fill-opacity:1;stroke-width:1.05"
        id="rect2721"
        width="323.52756"
        height="204.01889"
        x="0"
        y="0" />
        <path
        id="rect451"
        style="fill:#39aeed	;stroke-width:1.05;fill-opacity:1"
        d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
      </g>
  </svg>
  </div>