<div class="penguins">
    <div class="campo">
        <div class="login">
            <h2>Login</h2>
            <div>
                <input type="text" required aria-label="Usuário">
            </div>
            <div>
                <input type="password" required aria-label="Senha">
            </div>
            <div>
                <button class="bota" type="submit">Login</button>
            </div>
        </div>
        <div class="registro">
            <h2>Não tem uma conta?</h2>
            <button>Cadastre-se</button>
        </div>
    </div>
</div>