<div class="transicao">
	<svg
		width="100%"
		height="100%"
		viewBox="0 0 323.52756 204.01889"
		version="1.1"
		id="svg5"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg"
		preserveAspectRatio="none">
		<defs
		  id="defs2" />
		<g
		  id="layer1">
		  <rect
			style="fill: #bdbbbb;fill-opacity:1;stroke-width:1.05"
			id="rect2721"
			width="323.52756"
			height="204.01889"
			x="0"
			y="0" />
		  <path
			id="rect451"
			style="fill:#356bb2;stroke-width:1.05;fill-opacity:1"
			d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
	  </g>
</svg>
</div>
<div class="container" id="container">
    <div class="form-container sign-up">
        <form>
            <h1>Registre-se</h1>
            
            <input type="text" placeholder="Nome">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Senha">
            <button>Registrar</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <form>
            <h1>Entre</h1>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Senha">
            <a href="#">Esqueci minha senha</a>
            <button>LogIn</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Já tem uma conta?</h1>
                <p>Clique abaixo para acessá-la</p>
                <button class="hidden" id="login">Fazer login</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Ainda não tem uma conta?</h1>
                <p>Cadastre-se para ter acesso completo!</p>
                <button class="hidden" id="register">Cadastre-se</button>
            </div>
        </div>
    </div>
</div>
<div class="transicao">
	<svg
		width="100%"
		height="100%"
		viewBox="0 0 323.52756 204.01889"
		version="1.1"
		id="svg5"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg"
		preserveAspectRatio="none">
		<defs
		  id="defs2" />
		<g
		  id="layer1">
		  <rect
			style="fill: black;fill-opacity:1;stroke-width:1.05"
			id="rect2721"
			width="323.52756"
			height="204.01889"
			x="0"
			y="0" />
		  <path
			id="rect451"
			style="fill:#bdbbbb;stroke-width:1.05;fill-opacity:1"
			d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
	  </g>
</svg>
</div>

<script>
    const container = document.getElementById('container');
const registerBtn = document.getElementById('register');
const loginBtn = document.getElementById('login');

registerBtn.addEventListener('click', () => {
    container.classList.add("active");
});

loginBtn.addEventListener('click', () => {
    container.classList.remove("active");
});
</script>