<div class="penguins">
    <div class="campo">
        <div class="login">
            <h2>Login</h2>
            <div>
                <input type="text" required aria-label="Usuário">
            </div>
            <div>
                <input type="password" required aria-label="Senha">
            </div>
            <div>
                <button class="bota ajuda" type="submit">Login</button>
            </div>
            <div class="registro">
                <p>
                    não tem uma conta? <a href="#">Criar Conta</a>
                </p>
            </div>
        </div>
    </div>
</div>