<div class="transicao">
	<svg
		width="100%"
		height="100%"
		viewBox="0 0 323.52756 204.01889"
		version="1.1"
		id="svg5"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg"
		preserveAspectRatio="none">
		<defs
		  id="defs2" />
		<g
		  id="layer1">
		  <rect
			style="fill:#39aeed;fill-opacity:1;stroke-width:1.05"
			id="rect2721"
			width="323.52756"
			height="204.01889"
			x="0"
			y="0" />
		  <path
			id="rect451"
			style="fill:#356bb2;stroke-width:1.05;fill-opacity:1"
			d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
	  </g>
</svg>
</div>
<div class="container-fluid">
    <div class="row">
		<div class="col-md-4 fundo verde">
			<% if (!usuario) { %>
				<button onclick="Nao()" type="button"> 🎭🐧 </button>
				<% } else { %>
					<button type="button"> Postar </button>
			<% } %>
			
		</div>
        <div class="col-md-4 fundo verde">
			<div style="padding: 5px 5%; margin: 20px;">
            	<input type="text" class="input-busca"> 
				<button id="busca" onclick="buscar()" class="busca">Buscar</button>
			</div>
        </div>
        <div class="col-md-4 fundo verde">
		</div>
    </div>
	<div class="row">
		<div class="col-md-4 fundo verde">
			<div class="bordado text-4d">
				<img style="max-width: 50%;" src="public/img/holder_image.png" alt="">
				<p class="titulo">Título</p>
			</div>
		</div>
		<div class="col-md-4 fundo verde">
			<div class="bordado text-4d">
				<a href="/pesquisa">
				<img style="max-width: 50%;" src="/public/img/noticia/pesquisa/preocupa.png" alt="">
				<p style="padding: 10px;" class="titulo">Estudo Revela Contradição: 96% das Pessoas se Preocupam com o Aquecimento Global, 
					mas a ação ainda é inefetiva.</p>
				</a>
			</div>
		</div>
		<div class="col-md-4 fundo verde">
			<div class="bordado text-4d">
				<img style="max-width: 50%;" src="public/img/holder_image.png" alt="">
				<p class="titulo">Título</p>
			</div>
		</div>
	</div>
</div>
<div class="transicao">
	<svg
		width="100%"
		height="100%"
		viewBox="0 0 323.52756 204.01889"
		version="1.1"
		id="svg5"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg"
		preserveAspectRatio="none">
		<defs
		  id="defs2" />
		<g
		  id="layer1">
		  <rect
			style="fill:black;fill-opacity:1;stroke-width:1.05"
			id="rect2721"
			width="323.52756"
			height="204.01889"
			x="0"
			y="0" />
		  <path
			id="rect451"
			style="fill:#39aeed;stroke-width:1.05;fill-opacity:1"
			d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
	  </g>
</svg>
</div>

<script>
	function Nao(){
		Swal.fire({
			title: "Atenção!",
			type: 'warning',
			text: "Para conseguir postar você prescisa estar logado.",
			icon: "warning",
			confirmButtonColor: "rgba(248,187,134,255)"

			
		}).then(() => {
			window.location = "/login"
		}) ;
	}
</script>