<style>
    p{
        margin-top: 10px; 
    }
</style>

<div class="transicao">
	<svg
		width="100%"
		height="100%"
		viewBox="0 0 323.52756 204.01889"
		version="1.1"
		id="svg5"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg"
		preserveAspectRatio="none">
		<defs
		  id="defs2" />
		<g
		  id="layer1">
		  <rect
			style="fill:#39aeed;fill-opacity:1;stroke-width:1.05"
			id="rect2721"
			width="323.52756"
			height="204.01889"
			x="0"
			y="0" />
		  <path
			id="rect451"
			style="fill:#356bb2;stroke-width:1.05;fill-opacity:1"
			d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
	  </g>
</svg>
</div>
<div class="container-fluid fundo verde">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 style="margin-bottom: 30px;">
                Estudo Revela Contradição: 96% das Pessoas se Preocupam com o 
                Aquecimento Global, mas a ação ainda é inefetiva.
            </h1>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="container-fluid fundo verde">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                <img src="/public/img/noticia/pesquisa/preocupa.png" alt="">
                </div>
                <div class="col-md-1"></div>
            </div>
            <p>
                Apesar de 96% das pessoas demonstrarem preocupação com o aquecimento global 
                e adotarem práticas sustentáveis, como apagar luzes ao sair de ambientes (96%), 
                desligar computadores e laptops quando não estão em uso (54%) e preferir energia 
                solar e natural (86%), os impactos positivos dessas ações individuais são limitados 
                frente ao ritmo acelerado das emissões globais de gases de efeito estufa. 
            </p>
            <p>
                Relatórios recentes, como o da ONU, destacam que 2024 deve ser o ano mais quente já 
                registrado, com temperaturas ultrapassando o limite simbólico de 1,5°C acima dos níveis 
                pré-industriais. Isso ocorre principalmente devido a atividades como a queima de combustíveis 
                fósseis e o desmatamento em larga escala, enquanto medidas governamentais e corporativas ainda 
                não acompanham as metas globais de redução de emissões.  
            </p>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                <img src="/public/img/noticia/pesquisa/formas.png" alt="">
                </div>
                <div class="col-md-1"></div>
            </div>
            <p>
                Além disso, práticas como desligar equipamentos da tomada (28%) e remover carregadores 
                inutilizados (39%) mostram consciência sobre eficiência energética, mas reforçam a necessidade 
                de ações amplas e coordenadas, como transições energéticas em larga escala, para frear o aumento 
                catastrófico da temperatura global, que pode atingir até 3,1°C nas próximas décadas.  
            </p>
            <p>
                Esses dados ressaltam que, embora os esforços individuais sejam importantes, uma transformação 
                significativa depende de ações coletivas, políticas públicas robustas e investimentos massivos 
                em tecnologias limpas. 
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<div class="transicao">
    <svg
      width="100%"
      height="100%"
      viewBox="0 0 323.52756 204.01889"
      version="1.1"
      id="svg5"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg"
      preserveAspectRatio="none">
      <defs
        id="defs2" />
      <g
        id="layer1">
        <rect
        style="fill:black;fill-opacity:1;stroke-width:1.05"
        id="rect2721"
        width="323.52756"
        height="204.01889"
        x="0"
        y="0" />
        <path
        id="rect451"
        style="fill:#39aeed	;stroke-width:1.05;fill-opacity:1"
        d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
      </g>
  </svg>
  </div>