<div class="transicao">
	<svg
		width="100%"
		height="100%"
		viewBox="0 0 323.52756 204.01889"
		version="1.1"
		id="svg5"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg"
		preserveAspectRatio="none">
		<defs
		  id="defs2" />
		<g
		  id="layer1">
		  <rect
			style="fill: #bdbbbb;fill-opacity:1;stroke-width:1.05"
			id="rect2721"
			width="323.52756"
			height="204.01889"
			x="0"
			y="0" />
		  <path
			id="rect451"
			style="fill:#356bb2;stroke-width:1.05;fill-opacity:1"
			d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
	  </g>
</svg>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <p>dasdasdhasldkjaklsdhkashjdahsjkdhasldhaslkgdailsjdilagsdhalisgdjaksughdilajshfydguayishdjhavsfygiudhajsbd.</p>
            <hr>
        </div>
        <div class="col-md-3">
            <p>
                jdhbgaisjdkajsjgydyouiaojkdjbsahgjyiuyidujknasjbhygfua.
            </p>

        </div>
    </div>
</div>
