<style>
    p{
        margin-top: 10px; 
    }
</style>

<div class="transicao">
	<svg
		width="100%"
		height="100%"
		viewBox="0 0 323.52756 204.01889"
		version="1.1"
		id="svg5"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg"
		preserveAspectRatio="none">
		<defs
		  id="defs2" />
		<g
		  id="layer1">
		  <rect
			style="fill:#39aeed;fill-opacity:1;stroke-width:1.05"
			id="rect2721"
			width="323.52756"
			height="204.01889"
			x="0"
			y="0" />
		  <path
			id="rect451"
			style="fill:#356bb2;stroke-width:1.05;fill-opacity:1"
			d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
	  </g>
</svg>
</div>
<div class="container-fluid fundo verde">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 style="margin-bottom: 30px;">
                Como está o Rio Grande do Sul três meses após as enchentes que devastaram o estado.
            </h1>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="container-fluid fundo verde">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                <img src="https://media.gazetadopovo.com.br/2024/08/15215343/Enchente-cheias-alagamento-Rio-Grande-do-Sul-Gustavo-Mansur-Palacio-Piratini-960x540.jpg" alt="">
                </div>
                <div class="col-md-1"></div>
            </div>
            <p>
                Passados mais de três meses das enchentes históricas que devastaram cidades inteiras e deixaram 
                parte de seu território debaixo d’água, o Rio Grande do Sul segue no trabalho de reconstrução. 
                Aos poucos, os gaúchos tentam retornar à vida normal, mas ainda há sérios desafios em diversos 
                setores, como os relacionados à infraestrutura.
            </p>
            <p>
                A malha ferroviária gaúcha, terceira maior do Brasil, segue isolada do restante do país 
                após os estragos provocados pelas águas. Já em relação às rodovias, o 
                Departamento Autônomo de Estradas de Rodagem (Daer) do Rio Grande do Sul estima 
                que mais de 80% dos trechos afetados tiveram o tráfego restabelecido.
            </p>
            <p>
                Com o fechamento do aeroporto Salgado Filho, na capital Porto Alegre, o governo de 
                Eduardo Leite (PSDB) buscou alternativas no interior do estado. Porém, a falta de 
                interessados cancelou o leilão de concessão de dois terminais. O mercado imobiliário, 
                por outro lado, experimenta uma lenta, mas necessária, retomada – uma amostra de como 
                está o Rio Grande do Sul agora.
            </p>
            <h2>
                Ferrovias gaúchas estão isoladas do resto do Brasil
            </h2>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                <img src="https://www.portaldenoticias.com.br/arquivos/noticias/34253/apenas-um-trecho-de-ferrovia-esta-em-operacao-em-todo-o-rs.jpg" alt="">
                </div>
                <div class="col-md-1"></div>
            </div>
            <p>
                No início de maio, quando as enchentes davam pouco sinal de recuo, 
                a empresa Rumo Logística, concessionária da Malha Sul, interrompeu 
                as operações nas estradas de ferro do Rio Grande do Sul. 
                “A prioridade da companhia é garantir a segurança dos colaboradores 
                e de suas famílias, assim como das operações na região. 
                Todo o time da Rumo se solidariza com a população do Rio Grande do Sul”, 
                disse a empresa, em nota enviada à Gazeta do Povo na época.
            </p>
            <p>
                Passada a pior cheia da história do Rio Grande do Sul, os carregamentos 
                por trilhos seguem travados, deixando os gaúchos isolados do Brasil. 
                Trechos considerados essenciais para a logística de cargas e 
                passageiros continuam inoperantes, obstruídos por entulhos, ou 
                simplesmente devorados pela enxurrada. Ainda é incerto o tempo 
                que vai levar para o restabelecimento pleno da atividade.
            </p>
            <p>
                Segundo o Executivo estadual, a Rumo se comprometeu a apresentar, 
                até o fim deste mês, um diagnóstico dos problemas causados pelas enchentes, 
                mas o estado cobra soluções. “Só a partir desse levantamento é que podemos 
                propor soluções e projetar ações condizentes para o modal, que já tinha necessidade 
                de investimentos para modernização e retomada em diferentes trechos”, disse o 
                vice-governador Gabriel Souza (MDB).
            </p>
            <h2>
                Leilões de aeroportos no interior do Rio Grande do Sul foram cancelados
            </h2>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                <img src="https://www.jornaldocomercio.com/_midias/jpg/2021/12/06/whatsapp_image_2021_12_01_at_17_35_37__3_-9490550.jpeg" alt="">
                </div>
                <div class="col-md-1"></div>
            </div>
            <p>
                Quando o maior aeroporto do estado precisou interromper as operações, o 
                governo gaúcho já tinha publicado o edital para a concessão dos aeroportos 
                de Passo Fundo e Santo Ângelo. Iniciado em fevereiro, o processo tinha previsão 
                de se encerrar em julho, com a apresentação das propostas dos interessados em 
                administrar os terminais do interior.
            </p>
            <p>
                Pelo edital, a concessionária operaria, faria a manutenção e ampliaria a 
                capacidade da infraestrutura dos aeroportos por 30 anos. O investimento 
                previsto era de R$ 101 milhões, incluindo reformas nas pistas, pátios, 
                novos terminais e outras estruturas, sendo que o próprio governo do estado 
                entraria com R$ 29 milhões por meio das secretarias de Logística e 
                Transportes e de Parcerias e Concessões. A contrapartida não foi suficiente.
            </p>
            <p>
                A data prevista para a entrega dos envelopes das empresas interessadas em 
                administrar os dois terminais do interior gaúcho era 25 de julho, mas não 
                houve proponentes. O leilão seria realizado inicialmente em 20 de junho 
                — as enchentes, porém, forçaram o adiamento. Mesmo com mais tempo disponível 
                e voos da malha emergencial operando nesses aeroportos, o governo do Rio 
                Grande do Sul não conseguiu convencer a iniciativa privada de que seria um 
                bom negócio investir no Lauro Kortz, em Passo Fundo, e no Sepé Tiaraju, 
                em Santo Ângelo.
            </p>
            <p>
                No último dia 9 de agosto, as companhias aéreas que operam no Salgado 
                Filho voltaram a vender bilhetes de viagens para os passageiros. 
                Esta é a primeira fase da operação da retomada do aeroporto, com o 
                funcionamento pleno da pista de 1.700 metros. A expectativa de reabertura 
                total das operações, segundo a concessionária que administra o terminal, 
                é 21 de outubro. Para dezembro é esperada a liberação de uso total dos mais 
                de 3 quilômetros da pista de pousos e decolagens.
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<div class="transicao">
    <svg
      width="100%"
      height="100%"
      viewBox="0 0 323.52756 204.01889"
      version="1.1"
      id="svg5"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg"
      preserveAspectRatio="none">
      <defs
        id="defs2" />
      <g
        id="layer1">
        <rect
        style="fill:black;fill-opacity:1;stroke-width:1.05"
        id="rect2721"
        width="323.52756"
        height="204.01889"
        x="0"
        y="0" />
        <path
        id="rect451"
        style="fill:#39aeed	;stroke-width:1.05;fill-opacity:1"
        d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
      </g>
  </svg>
  </div>