<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<h1>
				Quem somos nós para o mundo?
			</h1>

			<p>
				Somos uma plataforma que conscientiza sobre acessibilidade e energia limpa no Brasil. Reunimos pessoas e grupos para compartilhar conhecimento e promover soluções para a transição para um futuro sustentável e inclusivo. Através do nosso blog, oferecemos artigos e debates sobre acessibilidade urbana, energias renováveis e eficiência energética, incentivando a colaboração para mudanças positivas
			</p>
		</div>
		<div class="col-md-6">
			<div class="fundo-sobre redondo center">
				<img class="imagem-sobre arruma-imagem redondo" src="https://images.prismic.io/novaenergia/8453175c-0e3b-45f5-9550-6958bfc6046d_iStock-1221337747+%281%29.jpg?auto=compress%2Cformat&fit=max" alt="🌬">
			</div>
		</div>
	</div>
</div>

	<h1>Políticas do Site</h1>
	<ul class="arruma-p text-color">
		<li>
			O site tem como objetivo promover a conscientização sobre acessibilidade e energia limpa.
		</li>
		<li>
			Os conteúdos devem focar na troca de informações que tragam benefícios à sociedade.
		</li>
		<li>
			Esperamos comportamento respeitoso dos usuários, sem ofensas ou discriminações.
		</li>
		<li>
			Respeito aos direitos autorais é obrigatório para todos os conteúdos publicados.
		</li>
		<li>
			A moderação tem o direito de revisar e remover conteúdos inadequados para manter um ambiente seguro.
		</li>
		<li>
			Respeitamos a privacidade dos usuários, e as informações coletadas são protegidas.
		</li>
		<li>
			As opiniões expressas são de responsabilidade exclusiva dos autores.
		</li>
		<li>
			O fórum é destinado a debates sobre acessibilidade e energia limpa.
		</li>
		<li>
			As políticas do site podem ser atualizadas conforme necessário.
		</li>
	</ul>



	