<style>
	.teste{
		background-color: #39aeed;
	}
	.teste2{
		background-color: #bdbbbb;
		background-color: #EFD39F;
	}
	.textteste{
		color: #253646;
	}
	.testep{
		color: black;
	}
</style>
<div class="transicao">
	<svg
		width="100%"
		height="100%"
		viewBox="0 0 323.52756 204.01889"
		version="1.1"
		id="svg5"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg"
		preserveAspectRatio="none">
		<defs
		  id="defs2" />
		<g
		  id="layer1">
		  <rect
			style="fill:#39aeed;fill-opacity:1;stroke-width:1.05"
			id="rect2721"
			width="323.52756"
			height="204.01889"
			x="0"
			y="0" />
		  <path
			id="rect451"
			style="fill:#356bb2;stroke-width:1.05;fill-opacity:1"
			d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
	  </g>
</svg>
</div>
<div class="teste">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h1 class="textteste">
					Quem somos nós para o mundo?
				</h1>

				<p class="testep">
					Somos uma plataforma que conscientiza sobre acessibilidade e energia limpa no Brasil. Reunimos pessoas e grupos para compartilhar conhecimento e promover soluções para a transição para um futuro sustentável e inclusivo. Através do nosso blog, oferecemos artigos e debates sobre acessibilidade urbana, energias renováveis e eficiência energética, incentivando a colaboração para mudanças positivas
				</p>
			</div>
			<div class="col-md-6">
				<div class="fundo-sobre redondo center arruma-p">
					<img class="imagem-sobre arruma-imagem redondo" src="https://images.prismic.io/novaenergia/8453175c-0e3b-45f5-9550-6958bfc6046d_iStock-1221337747+%281%29.jpg?auto=compress%2Cformat&fit=max" alt="🌬">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="transicao"  id="politicas">
	<svg
		width="100%"
		height="100%"
		viewBox="0 0 323.52756 204.01889"
		version="1.1"
		id="svg5"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg"
		preserveAspectRatio="none">
		<defs
		  id="defs2" />
		<g
		  id="layer1">
		  <rect
			style="fill: #EFD39F;fill-opacity:1;stroke-width:1.05"
			id="rect2721"
			width="323.52756"
			height="204.01889"
			x="0"
			y="0" />
		  <path
			id="rect451"
			style="fill:#39aeed;stroke-width:1.05;fill-opacity:1"
			d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
	  </g>
</svg>
</div>

<div class="teste2">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="textteste">Políticas do Site</h1>
				<p>
					<ul class="arruma-p testep">
						<li>
							O site tem como objetivo promover a conscientização sobre acessibilidade e energia limpa.
						</li>
						<li>
							Os conteúdos devem focar na troca de informações que tragam benefícios à sociedade.
						</li>
						<li>
							Esperamos comportamento respeitoso dos usuários, sem ofensas ou discriminações.
						</li>
						<li>
							Respeito aos direitos autorais é obrigatório para todos os conteúdos publicados.
						</li>
						<li>
							A moderação tem o direito de revisar e remover conteúdos inadequados para manter um ambiente seguro.
						</li>
						<li>
							Respeitamos a privacidade dos usuários, e as informações coletadas são protegidas.
						</li>
						<li>
							As opiniões expressas são de responsabilidade exclusiva dos autores.
						</li>
						<li>
							O fórum é destinado a debates sobre acessibilidade e energia limpa.
						</li>
						<li>
							As políticas do site podem ser atualizadas conforme necessário.
						</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="transicao">
    <svg
      width="100%"
      height="100%"
      viewBox="0 0 323.52756 204.01889"
      version="1.1"
      id="svg5"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg"
      preserveAspectRatio="none">
      <defs
        id="defs2" />
      <g
        id="layer1">
        <rect
        style="fill:black;fill-opacity:1;stroke-width:1.05"
        id="rect2721"
        width="323.52756"
        height="204.01889"
        x="0"
        y="0" />
        <path
        id="rect451"
        style="fill:#EFD39F	;stroke-width:1.05;fill-opacity:1"
        d="m 0,0 h 323.52756 l -10e-6,102.00945 c 0,0 0,-102.0094472655646 -161.76377,0 C 0,204.0189 0,102.00945 0,102.00945 Z" />
      </g>
  </svg>
  </div>



	